body{
  padding: 0;
  margin: 0;
}
header{
  height: 0.5rem;
  width: 100%;
  display: -webkit-flex;
  -webkit-box-align :center;
  -webkit-align-items :center;
      -ms-flex-align :center;
          align-items :center;
  position: fixed;
  background-color: #FFFFFF;
  padding: 0.3rem;
}
header .line{
  border-top: 0.01rem #DDDDDD solid;
  position: absolute;
  top: -0.01rem;
  width: 85%;
}
section{
  padding: 1rem 0.3rem;
}
section .top{
  display: -webkit-flex;
  -webkit-box-align :center;
  -webkit-align-items :center;
      -ms-flex-align :center;
          align-items :center;
  margin: 0.5rem 0.2rem 0.2rem;
}
section .top img {
  margin-bottom: 0.1rem;
}
section .top .flower_name{
  padding-left: 0.5rem;
  font-size: 0.4rem;
  line-height: 0.4rem;
}
section .top .flower_name .flower_language{
  font-size: smaller;
}
section .content{
  font-size: 0.35rem;
  padding: 0.2rem;
}
section .content table tr td:first-child{
  color: #494A5F;
}
section .content .yanghu{
  text-align: left;
}
section .bottom{
  padding: 0.2rem;
  font-size: 0.32rem;
  line-height: 0.6rem;
}
